.team-container {
    padding: 6.25rem 0;
    text-align: center;

    @media(max-width:767px) {
        padding: 0;
        text-align: left;
    }
}

.team-members {
    padding: 3.125rem 2.5rem 0 !important;

    @media(max-width:767px) {
        padding: 1rem !important;
    }
}