.footer-container {
    background-color: #171717;
}

.footer-message {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    width: 100%;

    h4,
    div {
        padding-bottom: 0;
    }

    @media(max-width:767px) {
        flex-direction: column;
        gap: .75rem;
        justify-content: center;
        padding: 3.75rem 0;
        text-align: center;
    }
}

.legal {
    padding: 1.5rem 0;
    text-align: center;
}