.footer {
    h2 {
        font-weight: 300;
        padding: 0;
    }
}

.footer-container {
    background-color: #171717;
}

.footer-message {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    width: 100%;

    text {
        color: var(--color-accent);
        display: block;
        font-size: 1.25rem;
        margin: 0;
        padding: 0;
    }
}

.legal {
    padding: 1.5rem 0;
    text-align: center;
}