.info-container {
    padding: 7.5rem 0;
}

.info-content {
    text-align: center;
}

.info-blurbs {
    display: flex;
    gap: .75rem;
}

.info-blurb {
    border: 1px solid var(--color-accent);
    padding: 1.5rem;
    width: 50%;
}

.info-img {
    width: 100%;

    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}