.benefits-container {
    padding: 7.5rem 0;
    text-align: center;

    @media(max-width: 767px) {
        padding: 3.75rem 0;
    }
}

.benefits-blurbs {
    align-items: flex-start;
    display: flex;
    gap: .625rem;
    justify-content: space-between;
    padding-top: 2.5rem;

    @media(max-width:980px) {
        flex-wrap: wrap;
    }
}

.benefits-blurb {
    border: 1px solid var(--color-accent);
    height: auto;
    min-height: 300px;
    padding: 1rem 1.25rem;
    width: 20%;

    @media(max-width:980px) {
        padding: .75rem 1rem;
        width: calc(50% - .5rem);
    }
}