.hero {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.heading-container {
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.video {
    width: 100%;

    @media(max-width:767px) {
        max-height: 100vh;
        width: auto;
    }
}

.scroll {
    align-items: center;
    bottom: 24px;
    color: #626262;
    display: flex;
    flex-direction: column;
    font-family: CabinetGroteskRegular, sans-serif;
    font-size: 1rem;
    letter-spacing: .2rem;
    position: absolute;
}