.hero {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.heading-container {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}