.hero {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.heading-container {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

    @media(max-width:767px) {
        margin: auto;
        width: 90%;
    }
}

.video {
    @media(max-width:767px) {
        max-height: 100vh;
    }
}