.body-text {
    color: #fff;
    display: block;
    font-family: CabinetGroteskRegular, sans-serif;
    font-size: 1.35rem;
    padding-bottom: 2rem;
}

.small {
    color: #fff;
    display: block;
    font-family: CabinetGroteskRegular, sans-serif;
    font-size: 1rem;
    padding-bottom: 2rem;
}