.body-text {
    color: #fff;
    display: block;
    font-family: CabinetGroteskRegular, sans-serif;
    font-size: 1.35rem;
    padding-bottom: 2rem;

    @media(max-width:767px) {
        font-family: CabinetGroteskLight, sans-serif;
    }
}

.small {
    color: #fff;
    display: block;
    font-family: CabinetGroteskRegular, sans-serif;
    font-size: 1rem;
    padding-bottom: 2rem;
}