.header {
    left: 0;
    position: sticky;
    top: 0;
    z-index: 1090;
}

.header-container {
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    left: 50%;
    margin: auto;
    padding: 3.75rem 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 1080;
}