.about-container {
    align-items: flex-start;
    display: flex;
    gap: 3.125rem;
    padding: 6.25rem 0;

    @media(max-width: 767px) {
        flex-wrap: wrap;
        padding: 3.75rem 0;
    }
}